.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    
}

.input-field,
.textarea-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus,
.textarea-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

button{
    background-color:  #eb0006;
    ;
    color: white;
    border: #eb0006;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.thankyou{
    color: #068414;
    margin-bottom: 40px;

}