<div
  class="movie-card"
  [style.background-image]="'url(https://image.tmdb.org/t/p/w500' + movie.backdrop_path + ')'"
  (click)="handleSelectedMovie()"
>
  <div class="card-overlay">
    <!-- Poster -->
    <img
      class="movie-poster"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="{{ movie.title }}"
    />

    <!-- Content -->
    <div class="movie-content">
      <!-- Title -->
      <h3 class="movie-title">{{ movie.title }}</h3>

      <!-- Metadata -->
      <div class="movie-meta">
        <span class="meta-tag">{{ movie.release_date | date: 'yyyy' }}</span>
        <span class="meta-tag">{{ movie.original_language | uppercase }}</span>
        <span class="meta-tag rating">{{ movie.vote_average }}</span>
      </div>

      <!-- Overview -->
      <p class="movie-overview">
        {{ movie.overview.length > 100 ? (movie.overview | slice: 0:100) + '...' : movie.overview }}
      </p>
      

      <!-- Button -->
      <button class="more-details-btn" (click)="handleSelectedMovie()">More Details</button>
    </div>
  </div>
</div>
