
  /* .productions {
    max-width: 30%;
    text-align: center;
  }
   */
  .production-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    justify-content: center; 
  }
  
  .production-item {
    text-align: center;
    flex: 1 1 100px; 
    max-width: 150px; 
    margin: 10px; 
  }
  
  .production-logo {
    width: 100%;
    height: auto;
    max-width: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  