/* Container layout */
.container {
    display: flex;
    height: 100vh; /* Full height */
    border: 1px solid #ddd;
  }
  
  /* List Section */
  .list {
    flex: 1;
    border-right: 1px solid #ddd;
    overflow-y: auto;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .list-item.active {
    background-color: #f0f0f0; /* Highlight active item */
  }
  
  .color-bar {
    width: 5px;
    height: 100%;
    margin-right: 10px;
  }
  
  .content h3 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }
  
  .content p {
    margin: 0;
    color: #060606;
    font-size: 18px;
    
  }
  
  /* Detail Section */
  .detail {
    flex: 2;
    padding: 20px;
  }
  
  .detail h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .detail textarea {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    width: 100%;
    min-height: 300px;
    border: none;
    

  }
  
  .save-btn {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .save-btn:hover {
    background-color: #303f9f;
  }
  