.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #121212;
    padding-top: 125px;
  }
  .loading-spinner {
    text-align: center;
    margin: 16px 0;
    font-size: 18px;
    color: #555;
  }
  