/* home.component.css */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
  
  .overlay {
    
    width: 100vw;
    height: 70vh;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); 
    
  } 
  
  .hero-content {
    position: relative;
    max-width: 600px;
    padding: 20px;
    margin-top: 20%;
    margin-left: 30%;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .email-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .email-input {
    width: 70%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  .cta-btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
  }

  .cta-btn:hover {
    background-color: #f40612;
  }
  