.results-container {
    margin-top: 20px;
    padding: 0 20px;
    text-align: left; 
    font-family: Arial, sans-serif;
  }
  
  .results-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .music-grid {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .music-card {
    border: 2px solid #0f967b; 
    border-radius: 8px;
    width: 200px;
    padding: 10px;
    text-align: left; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  
  .music-card img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .artist {
    font-weight: bold;
    font-size: 20px;
  }
  
  .music-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
  }
  
  .music-card p:first-child {
    font-weight: bold;
    color: #0f967b; 
  }
  .title {
    margin-top: 20px;
    font-size: 32px; 
    color: #333;
    font-weight: bold;
    text-align: center; 
  }
  
  
  .divider {
    width: 50%; 
    margin: 10px auto; 
    border: 1px solid  #0f967b; ; 
    border-radius: 2px; 
    
  }
  