.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    
    
    background-color: rgba(0, 0, 0, 0.84); 
 
  }
  div.partial-border-pseudo {
    width: 150px;
    background: lightgray;
    position: relative;
    border: none;
    padding: 7px;
    margin: 25px;
    text-align: center;
  }
  
  .card-overlay::before,
  .card-overlay::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
  }
  
  .card-overlay::before {
    left: 0;
    top: 0;
    border-left: 3px solid rgb(176, 21, 39);
    border-top: 3px solid rgb(192, 33, 147);
  }
  
  .card-overlay::after {
    right: 0;
    bottom: 0;
    border-right: 3px solid rgb(176, 21, 39);
    border-bottom: 3px solid rgb(192, 33, 147);
  }
 
  .movie-poster {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 2;
    margin-right: 20px;
  }
  
  .movie-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 180px;
  }
  
  .movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
  
  .movie-meta {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: -10px;
    width: 100%;
  }
  
  .meta-tag {
    padding: 4px 8px;
    background-color: #8b1736dd;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #fff;
    width: 90px;
    text-align: center;
  }
  
  .meta-tag.rating {
   color: #79f267;
  }
  
  .movie-overview {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #ddd;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .more-details-btn {
    padding: 8px 12px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .more-details-btn:hover {
    background-color: #fff;
    color: #1c1c1e;
  }
  
  
  
  
  